RewriteEngine On

# Si el archivo o carpeta existe físicamente, que lo abra normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe (como /assets o /users), mandalo todo al index.php
RewriteRule ^ index.php [QSA,L]